.panels > * {
    width: 320px;
}

/* be responsive */
@media all and (max-width: 480px) {
    .panels > * {
        min-width: 100%;
/*        width: 100%;*/
    }
}


body {
    color: green; 
    font-family: verdana;
}

.TitleServiceChange,
.TitlePlannedWork {
    font-size:2em; 
/*    color:red; */
/*    background-color:#99CCFF; */
/*    border-radius:5px; */
    background-image: url("../js/lib/onyx/images/gradient.png");
    background-size: contain;
    border-bottom: 1px solid #4C4C4C; 
    padding: 0px; 
    display: block;
}

.DateStyle {
    color:#000000
}

/* {
    font-size:2em; 
    color:red; 
    background-color:#99CCFF; 
    border: 2px solid black; 
    border-radius:5px; 
    padding:5px; 
    margin-top:-10px; 
    display: block;
}*/

.plannedWorkDetailLink{
    font-style:italic; 
    color:black; 
    line-height: 50px
}

p {
    font-style:italic; 
    color:black; 
    margin-top:-10px;
}

.plannedWorkDetail {
    font-style:italic; 
    color:black; 
    margin-top:-10px; 
    line-height: -75px;
}

#detailPane {
    -webkit-box-sizing: border-box;
    padding: 5px 0px;
    -webkit-box-shadow: inset 1px 0px 8px 0px #000;
    box-shadow: inset 1px 0px 8px 0px #000;
    height: 100%;
}

#smile {
	text-align:center;
	margin-top:25%;
	/*background-image: url("../images/smile.png") center no-repeat;
	background-position: center;
	background-repeat: no-repeat;
	height: 250px;*/
}

#mainList {
    background-color: #00688B;
/*    background-color: #4c4c4c;*/
    color: #FFF;
    border-right: 1px #000 solid;
}

#bottomBar {
    padding-top: 2px;
    padding-bottom: 2px;
}

.service_title,
.entry-item {
    padding: 10px;   
    border-bottom: 1px #000 solid;
}

.service_title {
    background-image: url("../js/lib/onyx/images/gradient.png");
    background-size: contain;
}

.entry-item {
    background-color: #cbe4eb;
    color: #000;
    font-size: 16px;
}

.entry-item > div {
    line-height: 24px;
    vertical-align: middle;
}
.entry-item-selected {
    background-color: #918F8F;
    color: #FFF;
}

.itemFavorite {
    background-image: url("../images/star.png");        
}

.itemFavoriteSelected {
    background-position: 0px -24px !important;
}

.icon-buttons {
    -webkit-box-sizing: border-box;
    padding: 0px 3px;
    font-size: 24px;
}

.icon-buttons > div {
    width: 32px;
    height: 32px;
}

.spinner {
    -webkit-animation-name: spinnerRotate;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes spinnerRotate {
    from {
        -webkit-transform:rotate(0deg);
    }
    to {
        -webkit-transform:rotate(360deg);
    }
}

.onyx-toolbar .onyx-button {
	background-color: #918F8F;
	border: none;
}

.green-status,
.yellow-status,
.red-status,
.orange-status {
    -webkit-box-sizing: border-box;
    border-radius: 5px;
    background-image: url("../js/lib/onyx/images/gradient.png");
} 

.green-status {
    background-color: green;
    border: 1px solid #254117;
}

.yellow-status {
    background-color: yellow;
    border: 1px solid #C68E17;
}

.red-status {
    background-color: red;   
    border: 1px solid #7e2217;
}

.orange-status {
    background-color: orange;
    border: 1px solid #C68E17;
}

.itemStatus {
    font-size: 12px;
}

